{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "extends": ["eslint:recommended", "standard", "plugin:prettier/recommended"],
  "plugins": ["babel"],
  "rules": {
    "no-console": 0,
    "comma-dangle": [2, "always-multiline"],
    "semi": [2, "never"],
    "no-extra-semi": 2,
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "object-shorthand": [
      "error",
      "always",
      {
        "ignoreConstructors": false,
        "avoidQuotes": true
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": true
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "arrowParens": "always",
        "trailingComma": "es5"
      }
    ]
  }
}
